[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.bashit"]
	path = home/.bashit
	url = https://github.com/revans/bash-it.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/alxarch/oh-my-zsh.git
