#include ".solarized"
Xft.dpi: 96

URxvt.iconFile:  /usr/share/icons/Humanity/apps/128/gnome-terminal.svg
URxvt.scrollBar: false
! Misc Programs
URxvt*font: xft:monospace:style=Regular:pixelsize=12 
!URxvt*font: xft:monospace:style=Regular:pixelsize=16 
!URxvt*boldFont: xft:Ubuntu Mono:style=Regular:pixelsize=16
!URxvt*letterSpace: -1

